{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Этот сайт освящён корейской новелле и манхве «Точка зрения Всеведущего читателя» (Кор. «전지전능 한 독자»). 
    Здесь в открытом доступе находится вся информация об персонажах, главах, событиях вселенной «Точка зрения 
    Всеведущего читателя». Так что предупреждаю, тут множество спойлеров! Если вы хотите помочь вики, создайте 
    или отредактируйте какую-нибудь статью. А если появятся вопросы, обращайтесь к администрации.
</p>

{% endblock %}
