{% extends "app/layout.html" %}

{% block content %}
<div>
    <h2>Трейлер</h2>
    <video src="static C:\Users\4769003\source\repos\web_lab4\web_lab4\media\tr.mp4" controls="controls" width="400" height="300" poster="static C:\Users\4769003\source\repos\web_lab4\web_lab4\media\trint.jpg"></video>
</div>

<div>
    <h2>Фанатское интро</h2>
    <video src="C:\Users\4769003\source\repos\web_lab4\web_lab4\media\fint.mp4" controls="controls" width="400" height="300" poster="C:\Users\4769003\source\repos\web_lab4\web_lab4\media\int.png"></video>

</div>
{% endblock %}